network:
  version: 2
  renderer: networkd

  ethernets:
    {{ iface }}:
      dhcp4: no
      dhcp6: no
      match:
        macaddress: {{ mac }}
      wakeonlan: true

  bridges:
    br0:
      interfaces: [ {{ iface }} ]
      addresses: [ {{ ip }}/24 ]
      gateway4: {{ gw }}
      mtu: 1500
      nameservers:
        addresses: [ {{ ns }} ]
      parameters:
        stp: true
        forward-delay: 4
      dhcp4: no
      dhcp6: no
