  - echo "starting user_data_rke2"
  - swapoff -a
  #- curl https://raw.githubusercontent.com/toleksa/kube-system/main/install-all.sh | bash
  #- curl https://raw.githubusercontent.com/toleksa/kube-system/main/install-rke2.sh | bash
  #- curl https://raw.githubusercontent.com/toleksa/kube-system/main/install-bash.sh | bash
  #- curl https://raw.githubusercontent.com/toleksa/kube-system/main/install-helm.sh | bash
  #- curl https://raw.githubusercontent.com/toleksa/kube-system/main/install-argo.sh | bash
  - ssh-keyscan github.com
  - git clone https://github.com/toleksa/kube-system.git
  - git clone https://github.com/toleksa/python-rest-api.git
  - echo "finished user_data_rke2" | tee /cloud-init-ready.txt
