#cloud-config
# vim: syntax=yaml
ssh_pwauth: True
chpasswd:
  list: |
    root:root
  expire: False

users:
  - name: root
    ssh_import_id:
      - gh:toleksa

write_files:
- content: |
    #!/bin/bash
    echo "
    server 192.168.0.2
    zone kube.ac
    debug
    update delete $(hostname -f). 3600 A
    update add $(hostname -f). 3600 A $(hostname -I | cut -d ' ' -f1)
    show
    send" | tee /var/log/dns-command.log | nsupdate -y hmac-sha256:externaldns-key:$(curl --silent http://192.168.0.2:8765/dns) | tee /var/log/dns-update.log
  path: /etc/cron.hourly/dns-update.sh
  permissions: '0755'
  owner: root:root

packages:
  - libvirt-clients

runcmd:
  - echo "starting user_init"
  - echo "\4" >> /etc/issue
  - hostnamectl set-hostname `hostname -s`.kube.ac
  - chmod -x /etc/update-motd.d/*
  - sed -i 's/#UseDNS no/UseDNS no/' /etc/ssh/sshd_config ; systemctl restart ssh
  - /etc/cron.hourly/dns-update.sh
  - echo "nameserver 192.168.0.2" > /etc/resolv.conf
  - chattr +i /etc/resolv.conf
  - echo -e "[Resolve]\nDNS=192.168.0.2" > /etc/systemd/resolved.conf
  - systemctl restart systemd-resolved
  - echo "finished common user_init"
  - modprobe fuse
  - swapoff -a
  - curl https://raw.githubusercontent.com/toleksa/kube-system/main/install-rke2.sh | bash
  - systemctl enable rke2-server.service
  - curl https://raw.githubusercontent.com/toleksa/kube-system/main/install-bash.sh | bash
  - curl https://raw.githubusercontent.com/toleksa/kube-terraform/main/kubevirt/install-kubevirt.sh | bash
  - ssh-keyscan github.com
  - echo "finished user_init" | tee /cloud-init-ready.txt

